@font-face {
  font-family: "poppins";
  src: url(./assets/font/Poppins-Regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General reset for margins and padding */
body {
  font-family: "poppins";
}
/* Blur and disable background when menu is open */
.content-blur {
  filter: blur(3px); 
  pointer-events: none; 
  user-select: none; 
  transition: filter 0.3s ease;
}

/* Optional: Disable scrolling when menu is open */
.disable-scroll {
  overflow: scroll;
}

/* Header Styling */
header {
  border-bottom: 1pt solid #808080;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

main {
  margin-top: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #333;
  padding: 10px 3%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 13px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.access-box {
  display: flex;
  margin: 0 auto;
  font-size: 13px;
}

.access-box > a {
  text-decoration: none;
  margin-right: 15px;
}

.access-box > .post {
  padding: 9px;
  background-color:rgba(8, 97, 175, 1);
  color: #fff;
  border-radius: 7px;
}

.access-box > .login {
  color: rgba(8, 97, 175, 1);
  border: 1px solid rgba(8, 97, 175, 1);
  padding: 9px;
  border-radius: 7px;
}

.menu-toggle {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 14px;
  display: none;
  margin-top: 0.8rem;
}

.menu-toggle span {
  display: block;
  width: 60%;
  height: 2px;
  background-color: #0e0e0e;
  position: absolute;
  left: 0;
  transition: all 0.2s ease;
  z-index: 30;
}

.menu-toggle span:nth-child(1) {
  top: 0;
}

.menu-toggle span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-toggle span:nth-child(3) {
  bottom: 0;
}

/* Animation for the hamburger icon */
.menu-toggle.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.nav-links3 {
  display: none;
}
.nav-links2 {
  display: block;
}

/* Hero Section styling */
.hero-section {
  width: 100%;
  padding: 0% 3%;
}

.hero-section > .container {
  background-image: url(./assets/hero-section-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 13%;
  border-radius: 5px;
}

.hero-section > .container > h1 {
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 4px;
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 2.2rem;
  width: max-content;
}

.filter {
  width: 35%;
  margin: auto;
  backdrop-filter: blur(3px);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.filter > a {
  text-decoration: none;
  color: #000000cb;
  font: 12px;
  text-decoration: underline;
}

.search-box {
  margin-top: 30px;
}

.search-box > input {
  font-family: inherit;
  width: 46%;
  font-size: 1rem;
  padding: 0.8rem 2.3rem;
  outline: none;
  border: 2px solid rgba(8, 97, 175, 1);
  transition: border 0.2s ease; /* Smooth border transition */
  border-radius: 5px;
  padding-left: 4rem;
}

.search-box > input:focus {
  border: 3px solid rgba(8, 97, 175, 1);
}

.search-box > input::placeholder {
  /* padding-left: 2rem; */
  font-size: 13px;
  text-decoration: underline;
  color: rgba(2, 24, 43, 0.46);
}

.searchicon {
  position: absolute;
  margin-left: 2rem;
  margin-top: 1.2rem;
  width: 16px;
}

.property-categories {
  text-align: center;
  margin-top: 3rem;
  text-decoration: underline;
  font-size: 14px;
}

.property-categories h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.carousel-track_flex {
  display: flex;
  justify-content: center;
}
/* General Carousel Styling */
.carousel {
  position: relative;
  overflow: hidden;
  width: 90%;
}

.carousel-track-wrapper {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 20px; /* Space between images */
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 80%; /* Default for mobile */
  /* background-color: #fff; */
  border-radius: 8px;

  padding: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.carousel-item {
  min-width: calc(50% - 20px); /* Two items for tablets */
}

.carousel-item img {
  width: 100%;
  border-radius: 8px;
}

.carousel_p {
  font-size: 15px;
  text-align: left;
  font-weight: 600;
  padding-top: 1rem;
}

.view-btn1 {
  padding: 8px 15px;
  border-radius: 5px;
  background: none;
  color: #000000;
  cursor: pointer;
  border: 1pt solid black;
  margin-top: 1rem;
}
.view-btn1:hover {
  background-color: #000000;
  color: #ffff;
}

/* Arrows */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.left-arrow {
  left: 10px;
  width: 2rem;
  background-color: #ffff;
  padding: 10px;
}

.right-arrow {
  right: 10px;
  width: 1.9rem;
  background-color: #ffff;
  padding: 9px;
}

/* Featured section styling */

.featured-section > .top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.featured-section > .top > .heading {
  font-size: 30px;
  text-decoration: underline;
  font-weight: 700;
}

.featured-section > .top > .view {
  color: #000;
  font-weight: lighter;
  font-size: 14px;
}

.for_sale {
  display: flex;
  position: absolute;
  margin-top: 1rem;
  height: 1.5rem;
  margin-top: 1rem;
  gap: 6rem;
}
.for_sale p {
  font-size: 10px;
  background-color: rgba(254, 133, 21, 1);
  padding: 5px;
  border-radius: 3px;
  margin-left: 0.5rem;
  color: white;
  text-decoration: underline;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 10 70px;
  padding: 20px;
}

.box {
  background-color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid rgba(8, 97, 175, 1);
  border-radius: 5px;
}

.grid-container > .box > img {
  width: 100%;
  height: auto;
  margin: auto;
}

.grid-container > .box > .desc {
  margin-top: 20px;
  font-size: 12px;
  color: rgba(8, 97, 175, 0.61);
}

.grid-container > .box > .price {
  font-size: 15px;
  margin-top: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.grid-container > .box > .bottom-side {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 25px;
  color: #0861af9c;
  text-decoration: underline;
}
.bottom-side-view {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 700;
}
.bottom-side-view:hover {
  color: #0861af9c;
}

.neighborhood-highlights {
  text-align: center;
  padding: 40px 20px;
}

.neighborhood-highlights h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: underline;
}

.neighborhood-highlights p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  text-decoration: underline;
}

/* Individual grid item styling */
.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.grid-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* Overlay styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.overlay p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffff;
}

.view-btn {
  padding: 8px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: none;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.view-btn:hover {
  background-color: #fff;
  color: #333;
}

/* Download section styling */
.download-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #02182b;
  padding: 6rem 4rem;
}

.download-section > div {
  width: 40%;
}

.download-section > .first-section > p {
  font-size: 30px;
  color: #fff;
  text-decoration: underline;
}

.download-section > .second-section > p {
  font-size: 20px;
  color: #fff;
  text-decoration: underline;
}

.download-section > .second-section > a {
  background-color: #0861af;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 15px;
  border-radius: 5px;
}

/* Footer Top Section */
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo h2 {
  font-size: 1.2em;
  color: #0073e6;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  color: rgba(8, 97, 175, 1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Social Icons */
.social-icons a {
  margin: 0 8px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

/* Footer Bottom Section */
.footer-bottom {
  margin-top: 30px;
  font-size: 0.8em;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-bottom-links li {
  list-style: none;
}

.footer-bottom-links a {
  color: rgba(8, 97, 175, 1);
  font-family: Roboto;
  font-size: 14px;
  text-decoration: underline;
}

.footer-bottom-links a:hover {
  text-decoration: underline;
}

.terms {
  margin-top: 20px;
  font-size: 0.9rem;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav-links3 {
    display: block;
    margin-top: 0.4rem;
  }
  .nav-links2 {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    color: #000;
    top: 90px;
    right: 10%;
    width: 80%;
    padding: 30px 0px;
    transform: translateX(100%);
    border-radius: 5px;
    z-index: 10;
  }

  .nav-links > li {
    text-align: center;
    margin-top: 0.4rem;
  }

  .nav-links > li:hover {
    /* transform: translate(15px); */
    text-decoration: underline;
  }

  .nav-links.active {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }

  .for_sale {
    gap: 3rem;
  }

  .menu-toggle {
    display: block;
  }
  .hero-section > .container {
    padding: 5%;
  }
  .carousel_p {
    font-size: 13px;
  }

  .view-btn1 {
    padding: 5px 10px;
  }

  .hero-section > .container > h1 {
    width: 100%;
    font-size: 22px;
  }

  .filter {
    width: 70%;
    padding: 10px 15px;
  }

  .filter > a {
    font-size: 15px;
  }

  .search-box > input {
    width: 80%;
    font-size: 0.8rem;
  }

  .carousel-item {
    min-width: calc(50% - 20px); /* Two items for tablets */
  }
  .property-categories h2 {
    font-size: 1.3em;
  }
  .featured-section > .top > .heading {
    font-size: 1.3rem;
  }

  .grid-container {
    margin: 10px 0px;
  }

  .download-section {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
  }

  .download-section > div {
    width: 100%;
  }
  .neighborhood-highlights h2 {
    font-size: 1.5em;
  }

  .overlay p {
    font-size: 1em;
  }
  .register-container {
    width: 90%;
    padding: 20px;
  }

  .auth-buttons button {
    font-size: 0.85rem;
  }

  .footer-links a {
    font-size: 10px;
  }
.footer-bottom-links a {
  font-size: 13px;
}
.download-section > .first-section > p {
  font-size: 18px;
}
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .carousel-track {
    gap: 20px;
  }
  .carousel-item {
    min-width: 100%; /* 1 item on mobile */
  }

  .access-box {
    flex-direction: column;
  }

  .access-box > .login {
    margin-top: 20px;
  }

  .featured-section > .top {
    padding: 1rem 3rem;
  }

  .featured-section > .top > .view {
    font-size: 12px;
  }
  .for_sale {
    height: 1.3rem;
  }

  .for_sale p {
    font-size: 8px;
    padding: 4px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 2fr));
    gap: 20px;
    margin: 10 27px;
    padding: 10px;
  }

  .box {
    background-color: #fff;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid rgba(8, 97, 175, 1);
    border-radius: 5px;
  }

  .grid-container > .box > img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .grid-container > .box > .desc {
    font-size: 9px;
  }

  .grid-container > .box > .price {
    font-size: 10px;
    margin-top: 0.7rem;
  }

  .grid-container > .box > .bottom-side {
    font-size: 10px;
    margin-top: 15px;
    margin-top: 0.7rem;
  }
  .bottom-side-view {
    font-size: 9px;
  }
  .bottom-side-view:hover {
    color: #0861af9c;
  }
  /* .box{
  width: 90%;
  margin: auto;
} */

  .carousel-item {
    min-width: 150px;
  }

  .property-categories h2 {
    font-size: 1.5em;
  }
  .neighborhood-highlights h2 {
    font-size: 1.2em;
  }

  .overlay p {
    font-size: 0.9em;
  }

  .view-btn {
    padding: 6px 10px;
  }
}

@media screen and (max-width: 444px) {
  .box {
    padding: 0.4rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(113px, 2fr));
    gap: 9px;
    margin: 4px 3px;
    padding: 14px;
  }
  .box {
    background-color: #fff;
    padding: 0.4rem;
    font-size: 1.1rem;
    border: 1px solid rgba(8, 97, 175, 1);
    border-radius: 5px;
  }

  .footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
  }
}
/* Responsive styling */
@media (min-width: 768px) {
  .for_sale {
    gap: 3rem;
  }

  .footer-top {
    flex-direction: row;
    justify-content: space-between;

    margin: 50px auto;
  }

  .footer-links {
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-item {
    min-width: calc(25% - 20px); /* Four items for desktops */
  }
}
