@font-face {
    font-family: "poppins";
    src: url(../../assets/font/Poppins-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "poppins";
    scroll-behavior: smooth;
    position: relative;
}

/* Header Styling */
header {
    border-bottom: 1pt solid #808080;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

main {
    margin-top: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    padding: 10px 3%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: 2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 16px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.access-box {
    display: flex;
    margin: 0 auto;
    font-size: 14px;
}

.access-box>a {
    text-decoration: none;
    margin-right: 15px;
}

.access-box>.post {
    padding: 9px;
    background-color: rgba(8, 97, 175, 1);
    color: #fff;
    border-radius: 7px;
}

.access-box>.login {
    color: rgba(8, 97, 175, 1);
    border: 1px solid rgba(8, 97, 175, 1);
    padding: 9px;
    border-radius: 7px;
}

.call_action {
    display: none;
}

.greeting {
    font-size: 16px;
    margin-top: -10rem;
    font-family: "poppins";
    margin-top: 10px;
}

.logout {
    margin-top: 10px;
    margin-left: 20px;
    color: rgba(8, 97, 175, 1);
    font-weight: 600;
    font-size: 14px;
}

.bx-user {
    color: #333;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
    padding-right: 1px;
    text-decoration: none;
    font-family: "poppins";
}

.menu-toggle {
    position: relative;
    cursor: pointer;
    width: 42px;
    height: 19px;
    display: none;
    margin-top: 0.8rem;
}

.menu-toggle span {
    display: block;
    width: 60%;
    height: 4px;
    background-color: #0e0e0e;
    position: absolute;
    left: 0;
    transition: all 0.2s ease;
    z-index: 30;
}

.menu-toggle span:nth-child(1) {
    top: 0;
}

.menu-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-toggle span:nth-child(3) {
    bottom: 0;
}

/* Animation for the hamburger icon */
.menu-toggle.open span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.nav-links3 {
    display: none;
}

.nav-links2 {
    display: block;
}

/* Blur and disable background when menu is open */
.content-blur {
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
    transition: filter 0.3s ease;
}

/* Optional: Disable scrolling when menu is open */
.disable-scroll {
    overflow: scroll;
}

/* Main Content Styling */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}
/* Bookmark Section */
.bookmark-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.bookmark-section h1 {
    font-size: 1.5em;
    color: #333;
}

.bookmark-section p {
    font-size: 1em;
    color: #333;
}

.bookmark-section .bookmark-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.bookmark-section .bookmark-list .bookmark-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
}

.bookmark-section .bookmark-list .bookmark-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.bookmark-section .bookmark-list .bookmark-item-details h3 {
    font-size: 1em;
    color: #333;
}

.bookmark-section .bookmark-list .bookmark-item-details p {
    font-size: 1em;
    color: #333;
    margin: 5px 0;
    font-weight: 500;
}

.bookmark-section .bookmark-list .bookmark-item-details .bookmark-item-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.bookmark-section .bookmark-item-details .bookmark-item-actions .bookmark-item-action  {
    text-decoration: none;
    color: #fff;
    background-color: rgba(8, 97, 175, 1);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.bookmark-section .bookmark-item-details .bookmark-item-actions .bookmark-item-action a {
    text-decoration: none;
    color: #fff;
}

.bookmark-section .bookmark-item-details .bookmark-item-actions .bookmark-item-action:hover {
    background-color: rgba(8, 97, 175, 0.8);
}

.remove-bookmark-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-bookmark-btn:hover {
    background-color: #cc0000;
}


/* Footer Top Section */
.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo h2 {
    font-size: 1.2em;
    color: #0073e6;
}

.footer-links {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    justify-content: center;
  }

.footer-links li {
    list-style: none;
}

.footer-links a {
    color: rgba(8, 97, 175, 1);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Social Icons */
.social-icons a {
    margin: 0 8px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

/* Footer Bottom Section */
.footer-bottom {
    margin-top: 30px;
    font-size: 0.8em;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer-bottom-links li {
    list-style: none;
}

.footer-bottom-links a {
    color: rgba(8, 97, 175, 1);
    font-family: Roboto;
    font-size: 14px;
    text-decoration: underline;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.terms {
    margin-top: 20px;
    font-size: 0.9rem;
}

.terms a {
    color: #007bff;
    text-decoration: none;
}





/* Responsive Design */
@media screen and (max-width: 768px) {
    .nav-links3 {
        display: block;
        margin-top: 0.4rem;
    }

    .nav-links2 {
        display: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        color: #000;
        top: 90px;
        right: 10%;
        width: 80%;
        padding: 30px 0px;
        transform: translateX(100%);
        border-radius: 5px;
        z-index: 10;
    }

    .nav-links>li {
        text-align: center;
        margin-top: 0.4rem;
    }

    .nav-links>li:hover {
        /* transform: translate(15px); */
        text-decoration: underline;
    }

    .nav-links.active {
        display: flex;
        transform: translateX(0);
        opacity: 1;
    }

    .call_action {
        display: block;
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    /* Footer */
    .footer-links a {
        font-size: 14px;
    }

    .footer-bottom-links a {
        font-size: 13px;
    }

    .download-section>.first-section>p {
        font-size: 18px;
    }

}

@media (min-width: 768px) {
    .for_sale {
        gap: 3rem;
    }

    .footer-top {
        flex-direction: row;
        justify-content: space-between;

        margin: 50px auto;
    }

    .footer-links {
        gap: 30px;
    }
}



